<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
    <listeners>
        <listener class-name="com.swiggy.TestRunnerRegression"></listener>
    </listeners>
    <test name="Regression Test">

        <classes>
            <class name="com.swiggy.TestRunnerRegression"/>
        </classes>
    </test>
</suite>